import styles from './<%=name.toLowerCase()%>';

export default class <%= name[0].toUpperCase() + name.slice(1) %> extends React.Component {

    static propTypes = {

    }

    static defaultProps = {

    }

    render() {
        return (
            <div className='<%= name.toLowerCase() %>'>
                some content ...
            </div>
        )
    }
}